.DS_Store
node_modules
bin/

# Secrets
*.secret

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# Generated .go files from proto
src/proto/*.go
